PORT=
NODE_ENV=

# PostgreSQL Database Connection
DATABASE_URL=

# AES Secret key and IV for sensitive PII decrypting
AES_SECRET_KEY=
AES_IV=

# CORS and internal secrets
CORS_ORIGINS=
INTERNAL_SERVICE_SECRET=
