PORT=
NODE_ENV=

# PostgreSQL Database Connection
DATABASE_URL=

# MongoDB URI and GridFS Bucket Name
MONGODB_URI=
GRIDFS_BUCKET=

# File upload restrictions
MAX_FILE_SIZE_MB=
ALLOWED_MIME_TYPES=

# Encryption secrets
AES_SECRET_KEY=
AES_IV=

# CORS & Internal Secrets
CORS_ORIGINS=
INTERNAL_SERVICE_SECRET=
